@import "../../scss/all";

#loading-page {

  @mixin loading-page {
    @extend .flex-1, .flex-row-center;
    position: absolute;
    align-items: center;
    transition: all 0.5s linear;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .loading-page {
    @include loading-page;
  }

  .loading-page_text {
    //TODO: improve font, use @mixin in text.scss
    font-size: $TEXT_SIZE_XL;
  }

}